<Files *>
FileETag None
<IfModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Tue, 01 Jan 1980 06:00:00 GMT"
</IfModule>
</Files>
